.headerSearch {
    background-color: aqua ;
    display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 10px;
  width: 100%;

}
.formSearch{
    display: flex;
    align-items: center;
    gap: 20px;
}

    .inputSearch {
      width: 400px;
      height: 35px;
      margin-left: 15px;
      border-radius: 5px;
    }
    .inputSearch:focus {
        outline: none;
      border-color: #7b68ee;
    }
    .btnSearch {
        padding: 10px 20px;
      background-color: #7b68ee; 
      color: #fff; 
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }
    .btnSearch:hover {
        background-color: #563d7c;
    }