.header-search {
    background-color: aqua;
}
.form-search{
    display: flex;
    align-items: center;
}
.input-search {
    padding: 10px;
      border: 2px solid #ccc; 
      border-radius: 5px;
      font-size: 16px;
      flex: 1;
      margin-right: 10px;
    }
    .input-search:focus {
        outline: none;
      border-color: #7b68ee;
    }
    .btn-search {
        padding: 10px 20px;
      background-color: #7b68ee; 
      color: #fff; 
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }
    .btn-search:hover {
        background-color: #563d7c;
    }