.btnMore {
    padding: 10px 20px;
    background-color: #7b68ee; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;   
}

.btnMore:hover {
    background-color: #563d7c;
}